RONGHUI_SHEET_ID = "在这里填入你新建的Google Spreadsheet的ID（网址中两个/之间那一长串字符）"

[gcp_service_account]
type = "service_account"
project_id = "你的project_id"
private_key_id = "你的private_key_id"
private_key = "-----BEGIN PRIVATE KEY-----\n你的私钥内容\n-----END PRIVATE KEY-----\n"
client_email = "你的service account邮箱"
client_id = "你的client_id"
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "你的cert_url"
